<ion-content [fullscreen]="true">
  <ion-grid class="bg-img">
    <ion-row>
      <!--  -->
      <ion-col *ngFor="let patient of patientData?.result">
        <ion-col class="ion-no-margin header-col">
          <ion-header [translucent]="true" class="ion-no-shadow ion-no-border">
            <ion-toolbar class="toolbar-bg">
              <div class="header-card-content">
                <div class="left">
                  <ion-icon name="chevron-back-outline" class="back"></ion-icon>
                  <div>
                    <h2 class="list-title">Patients List</h2>
                  </div>
                </div>
                <div>
                  <ion-icon name="notifications-outline" class="bell"></ion-icon>
                </div>
              </div>
            </ion-toolbar>
          </ion-header>
        </ion-col>
        <!--  -->
        <div *ngFor="let name of patient.Patients_Name">
          <ion-card class="ion-no-margin" (click)="goToPage()">
            <ion-card-content class="ion-no-padding card-padding card-list">
              <div class="main-div">
                <div class="patient-img-div">
                  <img src="assets/images/avatar.jpg" alt="Patient Avatar" class="patient-img" />
                </div>
                <div class="center-main-div">
                  <div>
                    <ion-text class="patient-name">
                      {{ name.Patient_First_Name }} {{ name.Patient_Last_Name }}
                    </ion-text>
                  </div>

                  <div class="last-div">
                    <div class="age-gender">
                      <span class="">{{ patient.Age ? patient.Age : 'N/A' }}</span>
                      /
                      <span class="">{{ patient.Gender === 'Male' ? 'M' : patient.Gender ===
                        'Female' ? 'F' : 'N/A' }}</span>
                    </div>
                    <div class="pc">
                      <p class="cpt">
                        {{ patient.CPT_Code ? patient.CPT_Code : 'N/A' }}
                      </p>
                    </div>
                  </div>
                  <div class="bed-room">
                    <div class="bed-div">
                      <img src="/assets/icon/bed.svg" alt="Bed Icon" class="bg-remove-icon" />
                      <p class="bed-title">
                        {{ patient.BedNumber ? patient.BedNumber : 'N/A' }}
                      </p>
                    </div>
                    <span class="slaesh">/</span>
                    <div class="room-div">
                      <img src="/assets/icon/door.svg" alt="Room Icon" class="bg-remove-icon door-icon" />
                      <p class="room-title">
                        {{ patient.Room ? patient.Room : 'N/A' }}
                      </p>
                    </div>

                    <div class="admission-div">
                      <p class="admission">
                        {{ patient.AdmissionDate ? patient.AdmissionDate : 'N/A'
                        }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>