.bg-img {
  background-image: url("/assets/images/bg-img.jpeg");
  background-size: cover;
  background-position: center;
  font-family: var(--ion-font-family);
}

ion-card {
  border-radius: 10px;
}

.card-padding {
  padding: 10px;
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
}

ion-avatar {
  margin-right: 15px;
}

h2 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: black;
}

p {
  margin: 0;
  margin-top: 5px;
  font-size: 14px;
}

.contact {
  color: #fff;
}

.pat-name {
  color: #fff;
  font-size: 18px;
}

ion-icon {
  font-size: 24px;
  color: #ffffff;
  background-color: #177ad7;
  border-radius: 50%;
  padding: 6px;
}

ion-card {
  margin-bottom: 20px;
}

ion-card-header {
  background-color: #e3ecf7;
  border-bottom: 1px solid #e0e0e0;
}

ion-card-title {
  --color: #1086e7;
}

ion-card-title {
  font-size: 18px;
  font-weight: bold;
}

ion-col {
  padding: 5px 10px;
  font-size: 16px;
  line-height: 1.5;
}

.data-color {
  color: black;
}

.card-color {
  background-color: #ccc;
  margin-top: 15px;
  color: black;
}

.content-center {
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding-top: 10px;
  background-color: red;
  color: #fff;
}

.obs-card-padding {
  padding: 0 10px 0 10px;
}

.text-blue {
  color: #5ab0f6;
  text-transform: lowercase;
  margin-top: 10px;
}

.header-col {
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.scale-item {
  position: relative;
  padding-top: 25px;
}

.scale-heading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.scale-content {
  padding-top: 5px;
}

.scale-item::after {
  content: "";
  position: absolute;
  top: 25px;
  left: -15px;
  right: -15px;
  height: 1px;
  background-color: #ccc;
}

.toolbar-bg {
  --background: transparent;
}

.patient-info {
  color: #fff !important;
}

.menu {
  color: menu;
  font-size: 30px;
  font-weight: bolder;
  background-color: transparent;
}

.back {
  margin-right: 5px;
  margin-left: -10px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-size: 30px;
}

.header-row {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.header-row::-webkit-scrollbar {
  display: none;
}

.header-item {
  flex: 1;
  padding: 5px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease;
  text-align: center;
}

.header-item.active {
  background-color: red;
  color: white;
}

.glassy-effect {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid white;
}
