.bg-img {
  // background-image: url("/assets/images/bg-img.jpeg");
  // background-size: cover;
  // background-position: center;
  background-color: #F9FAFF;
  font-family: var(--ion-font-family);
}

.header-col {
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.toolbar-bg {
  background-color: transparent;
}

.header-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.back {
  margin-left: -23px;
  background-color: transparent;
  color: black;
  font-size: 25px;
}

.list-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 20px;
  margin-top: -10px;
  color: #2968A5;
}

// 

.card-patient-intro {
  background-color: transparent;
  box-shadow: none;
}

.card-list {
  display: flex;
  flex-direction: column;
}

.main-div {
  display: flex;
}

.patient-img-div {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.patient-img {
  border-radius: 10px !important;
}

.center-main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.patient-name {
  font-size: 18px;
  color: black;
}

.last-div {
  display: flex;
}

.age-gender {
  display: flex;
  align-content: center;
  margin-top: 5px;
  color: #8C8C8C;
}

.slash {
  margin-left: 5px;
  margin-right: 5px;
}

.message-icon {
  width: 25px;
  position: absolute;
  right: 0px;
  top: 12px;
}

.last-view {
  position: absolute;
  right: 0px;
  top: 45px;
  font-size: 13px;
  color: #8C8C8C;
}

// 

ion-card {
  border-radius: 10px;
  margin-bottom: 20px;
}

ion-card-header {
  border-bottom: 1px solid #e0e0e0;
}

// 

.card-heading {
  color: #20B8F8;
  font-size: 18px;
  font-weight: bold;
}

.data-name {
  color: #8C8C8C;
}

.data-color {
  color: black;
}

// Observations

.obs-card-padding {
  padding: 0 10px 0 10px;
}

.obs-card {
  // background-color: ;
  margin-top: 15px;
  color: #01AFF8;
  // box-shadow: #8C8C8C;
}

.header-row {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.header-row::-webkit-scrollbar {
  display: none;
}

.header-item {
  flex: 1;
  padding: 5px;
  border-bottom: 2px solid transparent;
  text-align: center;
}

.header-item.active {
  background-color: #01AFF8;
  color: white;
}

.header-item.sky {
  background-color: #B6D5FF;
  color: #000000;
}

.header-item.yellow {
  background-color:#EFF800;
  color: #000000;
}

.header-item.green {
  background-color: #43D716;
}

.header-item.red {
  background-color: red;
}

.obs-content {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #01AFF8;
  color: #fff;
}

// 



// 

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
}

ion-avatar {
  margin-right: 15px;
}

h2 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: black;
}

p {
  margin: 0;
  margin-top: 5px;
  font-size: 14px;
}

.contact {
  color: #fff;
}

.pat-name {
  color: #fff;
  font-size: 18px;
}

ion-icon {
  font-size: 24px;
  color: #ffffff;
  background-color: #177ad7;
  border-radius: 50%;
  padding: 6px;
}

ion-col {
  padding: 5px 10px;
  font-size: 16px;
  line-height: 1.5;
}

.text-blue {
  color: #5ab0f6;
  text-transform: lowercase;
  margin-top: 10px;
}

.scale-item {
  position: relative;
  padding-top: 25px;
}

.scale-heading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.scale-content {
  padding-top: 5px;
}

.scale-item::after {
  content: "";
  position: absolute;
  top: 25px;
  left: -15px;
  right: -15px;
  height: 1px;
  background-color: #ccc;
}

.toolbar-bg {
  --background: transparent;
}

.patient-info {
  color: #fff !important;
}

.glassy-effect {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid white;
}

// 

// .card-padding {
//   padding: 10px;
// }