<ion-content [fullscreen]="true">
  <ion-grid class="bg-img">
    <ion-row>
      <ion-col *ngFor="let patient of patientData?.result">
        <!--  -->
        <ion-col class="ion-no-margin header-col">
          <ion-header [translucent]="true" class="ion-no-shadow ion-no-border">
            <ion-toolbar class="toolbar-bg">
              <div class="header-card-content">
                <div class="left">
                  <ion-icon name="chevron-back-outline" class="back" (click)="goBack()"></ion-icon>
                  <div>
                    <h2 class="list-title">Patients Details</h2>
                  </div>
                </div>
              </div>
            </ion-toolbar>
          </ion-header>
        </ion-col>
        <!--  -->
        <ion-card class="ion-no-margin card-patient-intro">
          <ion-card-content class="ion-no-padding card-list">
            <div class="main-div">
              <div class="patient-img-div">
                <img
                  src="assets/images/avatar.jpg"
                  alt="Patient Avatar"
                  class="patient-img"
                />
              </div>
              <div class="center-main-div">
                <div>
                  <ion-text class="patient-name">
                    {{ patient.Patient_First_Name }} {{ patient.Patient_Last_Name }}
                  </ion-text>
                </div>
                <div class="last-div">
                  <div class="age-gender">
                    <span
                      >{{ patient.Age ? patient.Age : 'N/A' }} Yrs</span
                    >
                    <span class="slash">/</span>
                    <span
                      >{{ patient.Gender === 'Male' ? 'M' : patient.Gender ===
                      'Female' ? 'F' : 'N/A' }}</span
                    >
                  </div>
                </div>
              </div>
              <div class="">
                <img src="assets/icon/message.png" alt="Message Patient" class="message-icon" />
                <div>
                <ion-text class="last-view">{{patient.last_view}}</ion-text>
              </div>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
        <!--  -->
        <ion-card class="ion-no-margin">
          <ion-card-header>
            <ion-card-title class="card-heading">Patient Details</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <ion-grid>
              <ion-row>
                <ion-col size="6" class="data-name"
                  >Room Number: <br /><p class="data-color"
                    >{{ patient.Room ? patient.Room : 'N/A' }}</p
                  >
                </ion-col>
                <ion-col size="6" class="data-name"
                  >Bed Number: <br /><p class="data-color"
                    >{{ patient.BedNumber ? patient.BedNumber : 'N/A' }}</p
                  >
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6" class="data-name"
                  >Procedure Code: <br /><p class="data-color"
                    >{{ patient.CPT_Code ? patient.CPT_Code : 'N/A' }}</p
                  ></ion-col
                >
                <ion-col size="6" class="data-name"
                  >Carrier Name: <br /><p class="data-color"
                    >{{ patient.Primary_Carrier ? patient.Primary_Carrier :
                    'N/A' }}</p
                  >
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6" class="data-name"
                  >Check-in Date: <br /><p class="data-color"
                    >{{ patient.AdmissionDate ? patient.AdmissionDate : 'N/A'
                    }}</p
                  >
                </ion-col>
                <ion-col size="6" class="data-name"
                  >Check-in Time: <br /><p class="data-color"
                    >{{ patient.timeradmission_hours ?
                    patient.timeradmission_hours + 'h ' : '' }}{{
                    patient.timeradmission_minutes ?
                    patient.timeradmission_minutes + 'm ' : '' }}{{
                    patient.timeradmission_seconds ?
                    patient.timeradmission_seconds + 's' : '' }}</p
                  ></ion-col
                >
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
        <!-- Observations -->
        <ion-card class="ion-no-margin">
          <ion-card-header>
            <ion-card-title class="card-heading">Observations</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-no-padding obs-card-padding">
            <ion-card class="ion-no-margin obs-card">
              <ion-card-content class="ion-no-padding ion-no-margin">
                <ion-grid class="ion-no-padding ion-no-margin">
                  <div class="header-row">
                    <div
                      *ngFor="let header of patient.observations.headers; let i = index"
                      class="header-item"
                      [ngClass]="{
                        'active': selectedTab === i,
                        'sky': selectedTab === 0 && i === 0,
    'yellow': selectedTab === 2 && i === 2,
    'green': selectedTab === 4 && i === 4,
    'red': selectedTab === 6 && i === 6,
                      }"
                      (click)="selectTab(i)"
                    >
                      {{ header }}
                    </div>
                  </div>
                  <ion-row>
                    <ion-col size="12" class="obs-content">
                      {{ patient.observations.content }}
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-card-content>
        </ion-card>
        <!--  -->
        <ion-card class="ion-no-padding ion-no-margin">
          <ion-card-header>
            <ion-card-title class="card-heading">Scales</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-no-padding ion-no-margin">
            <ion-card>
              <ion-grid>
                <ion-row>
                  <ion-col
                    size="4"
                    class="ion-text-center"
                    *ngFor="let scale of scales"
                  >
                    <div class="scale-item">
                      <div class="scale-heading">
                        <ion-text class="data-color">{{ scale.heading }}/</ion-text>
                      </div>
                      <div class="scale-content">
                        <div class="text-blue">{{ scale.content }}</div>
                      </div>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
